alembic            
blinker            
cffi               
click             
colorama          
cryptography       
dotenv            
Flask             
Flask-JWT-Extended
Flask-Migrate     
Flask-SQLAlchemy  
greenlet          
itsdangerous      
Jinja2            
jsonify         
load-dotenv       
Mako              
MarkupSafe        
pip                
pycparser       
PyJWT              
PyMySQL           
python-dotenv     
SQLAlchemy        
typing_extensions  
Werkzeug
gunicorn      